<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="headline-1">
    Angular form components
  </div>
  <div class="range-input-wrapper">
    <div class="headline-2">
      Range Input
    </div>

    <div class="input-example">
      <div class="headline-3">
        Default
      </div>
      <nfc-range-input></nfc-range-input>
    </div>

    <div class="input-example">
      <div class="headline-3">
        With tooltips and two slider buttons
      </div>
      <nfc-range-input [minRangeSlider]="true" [toolTips]="true"></nfc-range-input>
    </div>

    <div class="input-example">
      <div class="headline-3">
        With default values (-10, 337), tooltips, min (-20) and max (400)
      </div>
      <nfc-range-input [minRangeSlider]="true" [toolTips]="true" [min]="-20" [max]="400" [defaultRange]="[-10, 337]"></nfc-range-input>
    </div>

    <div class="input-example">
      <div class="headline-3">
        With custom highlight bar and button
      </div>
      <nfc-range-input [toolTips]="true" [highlightBarCssClass]="'highlight-bar'" [sliderButtonCssClass]="'slider-button'"></nfc-range-input>
    </div>

    <div class="input-example">
      <div class="headline-3">
        Reading the emitted range value (number)
      </div>
      <nfc-range-input (rangeChange)="handleRangeChangeSingle($event)"></nfc-range-input>

      <div>
        Value read: {{rangeValSingle}}
      </div>
    </div>

    <div class="input-example">
      <div class="headline-3">
        Reading the emitted range value (array)
      </div>
      <nfc-range-input [minRangeSlider]="true" (rangeChange)="handleRangeChangeArray($event)"></nfc-range-input>

      <div>
        Value read: [{{rangeValArray[0]}}, {{rangeValArray[1]}}]
      </div>
    </div>

  </div>
</div>

