<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="headline-1">
    Angular form components
  </div>
  <div class="range-input-wrapper">
    <div class="headline-2">
      Range Input
    </div>
    <div class="headline-3">
      Default
    </div>
    <nfc-range-input></nfc-range-input>

    <div class="headline-3">
      With tooltips and min and max slider button
    </div>
    <nfc-range-input [minRangeSlider]="true" [toolTips]="true"></nfc-range-input>

    <div class="headline-3">
      With default values, tooltips, min and max
    </div>
    <nfc-range-input [minRangeSlider]="true" [toolTips]="true" [min]="-20" [max]="400" [defaultRange]="[-10, 337]"></nfc-range-input>
    <div>
      <pre>
        &lt;nfc-range-input [min]="-20" [max]="400" [minRangeSlider]="true" [toolTips]="true">&lt;/nfc-range-input>
      </pre>
    </div>


    <div class="headline-3">
      With custom highlight bar and button
    </div>
    <nfc-range-input [toolTips]="true" [highlightBarCssClass]="'highlight-bar'" [sliderButtonCssClass]="'slider-button'"></nfc-range-input>
  </div>
</div>

